{% extends "shopapp/base.html" %}

{% block title %}
    Groups List
{% endblock  %}

{% block body %}
    <h1> Groups: </h1>
    {% if not groups %}
        <div> Групп нет </div>
    {% else %}
        <ul>
            {% for group in groups %}
                <li> 
                    <div> {{group.name}} </div>
                    <ul>
                        {% for permission in group.permissions.all %}
                            <li> {{permission}} </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock  %}